<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}" )%>
  <% end %>
  <h1>ログイン</h1>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
    <div class="email_content form-group">
      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control form-control-lg' %>
    </div>
    <div class="password_content form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control form-control-lg' %>
    </div>
      <%= form.submit "ログインする" %>
  <% end %>
</div>