<div class="container">
  <p id="notice"><%= notice %></p>
    <h1>写真登録</h1>
  <br>
  <%= link_to '新規登録', new_feed_path ,class:'btn btn-primary'%>
  <table class="table">
    <thead>
      <tr>
        <th>写真名</th>
        <th>詳細</th>
        <th>変更</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td><%= feed.image %></td>
          <td><%= link_to '詳細', feed ,class: 'btn btn-info' %></td>
          <td><%= link_to '変更', edit_feed_path(feed), class: 'btn btn-success' %></td>
          <td><%= link_to '削除', feed, method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
