<h1>ブログ作成画面</h1>
<div class="container">
  <div class="blog_content md-4">
    <%= form_with(model:@blog, local: true ) do |form| %>
      <div class="blog_label form-group">
        <%= form.label :title %>
          <%= form.text_field :title ,class: 'form-control'%>
      </div>
      <div class="blog_content form-group">
        <%= form.label :content %>
        <%= form.text_field :content ,class: 'form-control' %>
      </div>
      <%= form.submit %>
    <% end %>
    <%= link_to "ブログ一覧画面へ", blogs_path ,class: 'btn btn-secondary'%>
  </div>
</div>

