
<div class="container">
<h1>Sign Up</h1>
  <div class="user_content">
    <%= form_with(model:@user ,local: true) do |form| %>
    <div class="user_name form-group ">
      <%= form.label :name %>
      <%= form.text_field :name ,class: 'form-control form-control-lg '%>  
    </div>
    <div class="user_email c">
      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-control form-control-lg' %>
    </div>
    <div class="user_password form-group">
      <%= form.label :password %>
      <%= form.password_field :password ,class: 'form-control form-control-lg'%>
    </div>
    <div class="password_confirmation form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation ,class: 'form-control form-control-lg' %>
    </div>
<% end %>
  </div>
</div>
